.class-list {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
}

// .header-field {
//   float: right;
// }

.add-class {
  margin-top: 5px;
  width: 200px;
}

.mat-table {
  width: 1200px;
}
